body{
  margin: 0;
  padding: 0;
  background-image: url(assets/images/business-financial-concept-stack-money-background-flat-lay_176474-6549.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}